<div class="container-fluid introContainer">
	<div class="col-md-12 introText">
		<h4>
			Steven A Tokarz
		</h4>
		<h5>
			<a href="tel:630-885-9053">630-885-9053</a>
		</h5>
		<h5>
			<a href="mailto:steventokarz11@gmail.com" target="_top">steventokarz11@gmail.com</a>
		</h5>
		<h5>5934 N Paulina 3, Chicago, IL 60660</h5>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-1">
				<h6>
					Technology:
				</h6>
			</div>
			<div class="col-md-1">
				Languages:
			</div>
			<div class="col-md-10">
				 Javascript, Python, CSS, SCSS, Coldfusion, C#, C++, C, Java, SQL, XML, JSON
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				
			</div>
			<div class="col-md-1">
				Libraries:
			</div>
			<div class="col-md-10">
				AngularJS, Bootstrap CSS, Pure CSS,  jQuery, Underscore.js, CryptoJS, AJAX,  Prototype.js, Pylons, Fusebox, SOAP, JBoss
			</div>
		</div>		
		<div class="row">
			<div class="col-md-1">
				
			</div>
			<div class="col-md-1">
				Software
			</div>
			<div class="col-md-10">
				Linux, Windows, IIS, Apache, Mercurial, Git, SVN, CVS, MS SQL, MySQL, Oracle, MongoDB, Selenium, Balsamiq, Visio, Eclipse, Sublime Text, Notepad++
			</div>
		</div>
	</div>
</div>
